@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
.logo img{
    max-width: 15rem;
}
.main-container{
position: fixed;
left: 0;
right: 0;
bottom: 0;
top:0;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
flex-direction: column;
}
.conatiner1{
padding: 5rem;
}
.container2{
    padding-top: 1.5rem;
    position: relative;
    background:#870052;
    height: 500px;
    width: 100%;
    left: 0;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.get-started{
    color: #fff;
    text-align: center;
    /* padding: 2rem; */
    padding-top: 1rem;
    font-size: 1.8rem;
}

.container2 p{
    color: #fff;
    padding: 2rem;
    /* text-align: center; */
    font-size: 1.1rem;
    display: grid;
    margin-left: 1rem;
}
.text{
    
    padding: 0.1rem;
    /* max-width: 600px; */
    display: grid;
    text-align: left;
}
.btn{
    text-decoration: none;
    color: #000;
    text-align: center;
    background: #fff;
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 11rem;
    margin-left: 10%; 
    font-weight: bold;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
    justify-items: center;
    margin-top: 2rem;
}
.input-container .input-1 input{
    height: 2.4rem;
    width: 250px;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem;
}
.input-container div{
    padding: 1rem;
}
.input-container .input-2 input{
    height: 2.4rem;
    width: 250px;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    padding: 0.2rem;
}
.btn2{
    margin-left: 29.5%;
    padding: 0.5rem;
    margin-top: 1.5rem;
}
.container-2-border{
    border-radius: 0rem;
}
.fa-chevron-right{
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 0.3rem;
}
/* SCHEDULER */
.delivery-img-container{
  display: grid;
  justify-content: center;
  align-items: center;
  justify-content: center;
    }
 .delivery-img{
    max-width: 100%;
    width: 300px;
  margin-left: 2.5rem;

}

.ask-qn .cancel-btn{
    display: unset;
    background: #964148;
    color: #fff;
    margin-top: 3rem;
    width: 260PX;
}
.ask-qn .change{
    background: rgb(57, 185, 57);
}
/* SCHEDULER */
/* ABEL */
::after,
 ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
  .body-container{
     display: grid;
     justify-content: center;
     font-family: 'Poppins', sans-serif;
 } 
 h2{
   text-align: center;
   color: #870052;
 }
 .first-container{
   position: relative;
   margin-top: 5rem;
    /* border: 2px solid red;  */
 }
 .center{
    display: flex;
    justify-content: center;
    align-items: center;

 }
 .center div{
   width: 25px;
   height: 18px;
   margin: 0 0.5rem;
   margin-top: 3rem;
   background-color: #870052;
   border-radius: 2px;
   text-align: center;
   color: #fff;
 }
 .resend{
   text-align: center;
 }
 .button{
   display: flex;
   justify-content: center;
   margin: 10rem auto;
   border: none;
   padding: 0.5rem 2rem;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   font-size: 1rem;
   background-color: #870052;
 }
 .fa-arrow-right-long{
   margin-left: 0.5rem;
 }
 .fa-angle-left{
   margin-bottom: -4rem;
   color: #870052;
    position: absolute;
    left: 25px;
    font-size: 1.6rem
 }

 /* cash-html starts here */
 .cash-container{
   display: grid;
   align-items: center;
   justify-content: center;
    max-height: 100vh;
    grid-template-rows: 20%fr 80%;
    position: relative;
   
 }
 .btn-container{
   max-width: 100%;
   height: 80vh;
   background-color: #870052;
    margin-top: 1rem; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
 } 
 .atm{
   max-width: 100%;
 }
 .ahmed{
  text-align: center;
  color: #870052;
  text-transform: capitalize;
 }
 .cash-button{
   padding: 10px 15px;
   border-radius: 5px;
   border: none;
   margin: 2rem;
 } 

/* ABEL */