@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
.logo img{
    max-width: 15rem;
}
.main-container{
position: fixed;
left: 0;
right: 0;
bottom: 0;
top:0;
display: flex;
justify-content: center;
justify-items: center;
align-items: center;
flex-direction: column;
}
.conatiner1{
padding: 5rem;
}
.container2{
    padding-top: 1.5rem;
    position: relative;
    background:#870052;
    height: 500px;
    width: 100%;
    left: 0;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
}
.get-started{
    color: #fff;
    text-align: center;
    /* padding: 2rem; */
    padding-top: 1rem;
    font-size: 1.8rem;
}

.container2 p{
    color: #fff;
    padding: 2rem;
    /* text-align: center; */
    font-size: 1.1rem;
    display: grid;
    margin-left: 1rem;
}
.text{
    
    padding: 0.1rem;
    /* max-width: 600px; */
    display: grid;
    text-align: left;
}
.btn{
    text-decoration: none;
    color: #000;
    text-align: center;
    background: #fff;
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
    justify-items: center;
    align-items: center;
    width: 11rem;
    margin-left: 10%; 
    font-weight: bold;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#fff;
    justify-items: center;
    margin-top: 2rem;
}
.input-container .input-1 input{
    height: 2.4rem;
    width: 250px;
    outline: none;
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem;
}
.input-container div{
    padding: 1rem;
}
.input-container .input-2 input{
    height: 2.4rem;
    width: 250px;
    outline: none;
    border-radius: 0.4rem;
    border: none;
    padding: 0.2rem;
}
.btn2{
    margin-left: 32%;
    padding: 0.5rem;
    margin-top: 1.5rem;
}
.container-2-border{
    border-radius: 0rem;
}
.fa-chevron-right{
    font-size: 0.8rem;
    display: inline-block;
    margin-left: 0.3rem;
}